@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--foreground);
}

button {
  background-color: var(--foreground);
  color: var(--background);
}

button:hover {
  background-color: #444444;
  color: #ffffff;
}
